*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.titulo{
    background-color: rgb(218, 123, 123);
    color: white;
    padding: 30px;
}
p{
    margin: 10px 30px;
    font-size: 20px;
}
button{
    margin: 0 30px;
    height: 30px;
    width: 50px;
    cursor: pointer;
}
button:hover{
    background-color: rgba(0,0,0,0.2);
    border: 1px solid black;
    border-radius: 5px;
}
.resultado{
    text-align: center;
    margin: 0 30px;
    height: 100px;
    min-width: 200px;
    max-width: 400px;
    background-color: rgb(160, 219, 137);
}
.resultado p{
    line-height: 100px;
}
.numerosInseridos{
    margin: 10px 30px;
    width: 400px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}
.numero1, .numero2, .numero3{
    background-color: rgb(218, 123, 123);
    height: 100px;
}
.numerosInseridos p{
    color: white;
    font-size: 14px;
    text-align: center;
}
.primeiroValor p, .segundoValor p, .terceiroValor p{
    font-size: 20px;
}
